* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

#header {
    text-align: center;
    padding: 2rem;
}

#btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 0rem 1rem;
    padding: 2rem;
}

button {
    box-sizing: content-box;
    width: 33%;
    height: 10rem;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 10%;
    font-weight: bolder;
    transition: 0.25s;
}

button:hover {
    background-color: black;
    color: white;
    transform: scale(1.05, 1.05);
}

#results {
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
}